@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background: #000
    }

    a:link {
        color: #9cf
    }

    a:hover, a:visited:hover {
        color: #cef
    }

    a:visited {
        color: #c9f
    }
}

body {
    /*margin: 1em auto;*/
    margin: auto auto !important;
    max-width: 50rem;
    padding: 0 .62em;
    font: 1.2em/1.62 sans-serif;
}

h1, h2, h3 {
    line-height: 1.2;
}

@media print {
    body {
        max-width: none
    }
}

pre {
    max-width: 50rem !important;
    width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.cover {
    max-width: 50rem !important;
    width: 100%;
}

.cover > figure > img {
    max-width: 50rem !important;
    width: 100%;
}

img {
    max-width: 50rem !important;
    width: 100%;
}

figure {
    margin: 0;
}

.divider {
    border-top: 3px solid #bbb;
}

.author, .caption {
    color: #79828b;
}

h3 {
    color: #7b7777;
}